.headerContainer {
  width: 100%;
  height: 14vh;
  background-color: papayawhip;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #04063a;
  letter-spacing: 1px;
}
.headerContainer > h1 {
  text-shadow: 1px 1px 1px #757272, 3px 3px 5px rgb(53, 53, 176);
}
